<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="CCToolPath" value="E:\java\ccAPI\target\ccAPI-1.0-SNAPSHOT-jar-with-dependencies.jar"/>
    <add key="CCHost" value="auto-cc91.auto.com"/>
  </appSettings>
</configuration>